body {
    background: #ccc;
}

.glyphicon.glyphicon-cog {
    color: #fff;
    font-size: 1.5em;
    margin-right: 10px;
}

.panel-default {
    border-radius: none;
}

.panel-heading {
    background: #2ecc71;
}

.side-menu {
    position: fixed;
    background: #fff;
    height: 100vh;
    width: 120px;
    top:0;
    bottom:0;  
    /*left: -100px;*/
}

/*.side-menu:hover {
    left: 0px;
    transition: all 0.2s ease;
}*/

.nav.navbar-nav.navbar-right li:hover {
    background: transparent;
}

.icon-group {
    margin-top: 30vh;
}

.icon-group li {
    margin: 0 0 30px 25px;
}

.btn-success {
    background: #2ecc71;
    border-radius: 2px;
}

.btn-success:hover {
    background: #27ae60;
}

.registration {
    padding: 0 20px;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 350px;
    height: auto;
    background: #f8f8f8;
    border-radius: 2px;
}

.registration form label {
    font-size: .8em;
}


.authentication {
    padding: 0 20px;
    position: absolute;
    top: 50px;
    right: 80px;
    width: 350px;
    height: auto;
    background: #f8f8f8;
    border-radius: 2px;
}

.authentication form label, form[name="modalCreateForm"] {
    font-size: .9em;
}

.create-task {
    margin-left: 110px;
}

.text-center {
    margin: 5px;
    padding:0;
}
.btn, .form-control {
    border-radius: 2px;
}

.btn-default {
    background: #fff;
    border: 1px solid #2ecc71;
    color: #2ecc71;
}

.btn-default:hover {
    background: #fff;
    border: 1px solid #27ae60;
    color: #27ae60;
}

