<div class="modal-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						<h3 class="text-center">Create New Tasks</h3>
					</div>
					<div class="col-md-4">
						<div>
							<button class="btn btn-default btn-block">Upload Files</button>
						</div>
					</div>

				</div>
				<hr>
				<form name="modalCreateForm">
					<div class="row"><!-- row title end -->
						<div class="col-md-8">
							<div class="form-group">
								<label for="formTitle">Title:</label>
								<input id="formTitle" type="text" class="form-control" ng-model="task.title">
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
							<label for="formSelect">Category:</label>
								<select name="formCategories" id="formSelect" class="form-control" ng-model="task.category">
									<option value="Home">Testing</option>
									<option value="Home">Managemant</option>
									<option value="Home">Programming</option>
									<option value="Home">Design</option>
								</select>
							</div>
					  </div>

					</div> <!-- row title end -->
					
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="formTitle">Body:</label>
								<textarea id="formTitle" type="text" rows=3 class="form-control" ng-model="task.body"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="formTitle">#Tags:</label>
								<textarea id="formTitle" type="text" rows=2 class="form-control" ng-model="task.tags"></textarea>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div>
							<div class="form-group">
								<button class="btn btn-success btn-block" ng-click="saveTask()">Create Task</button>
							</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

						