<h2>Categories</h2>
<ul class="list-unstyled">
  <li><a href="">category1</a></li>
  <li><a href="">category2</a></li>
  <li><a href="">category3</a></li>
  <li><a href="">category4</a></li>
  <li><a href="">category5</a></li>
  <li><a href="">category6</a></li>
  <li><a href="">category7</a></li>
  <li><a href="">category8</a></li>
  <li><a href="">category9</a></li>
  <li><a href="">category10</a></li>
  <li><a href="">category11</a></li>
  <li><a href="">category12</a></li>
  <li><a href="">category13</a></li>
  <li><a href="">category14</a></li>
  <li><a href="">category15</a></li>
</ul>


