<!DOCTYPE html>
<html ng-app="dailyJournal">
    <head>
      <title>note-django-angular</title>
      <base href="/" />
      {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
      <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
      <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
      <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
      <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
      <script type="text/javascript" src="{% static 'bower_components/ui-bootstrap/ui-bootstrap-custom-build/ui-bootstrap-custom-1.3.2.js' %}"></script>
      <script type="text/javascript" src="{% static 'bower_components/ui-bootstrap/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-1.3.2.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/tasks/tasks.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/categories/categories.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/users/users.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/tasks/auth.service.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/tasks/task.service.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/tasks/modal-form-controller.js' %}"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'bower_components/angularjs-slider/dist/rzslider.css' %}" />
      {% block static %}
      {% endblock %}
    </head>
    {% block content %}
    

  {% endblock %}  
</html>