{% extends 'base.html' %}


{% block content %}
{% verbatim %}
<body ng-controller="TasksController">
    <div class="navbar navbar-static-top">
        <div class="container-fluid">
        <div class="nav navbar-nav navbar-left">
             <form class="navbar-form navbar-left">
                <button ng-click="open()" class="btn btn-primary create-task">+ Create Task</button>
            </form>
        </div>

            <div class="nav navbar-nav navbar-right">
               <li><a href="#">Link</a></li>
               <form class="navbar-form navbar-left">
                <div class="form-group">
                </div>
                <button type="button" class="btn btn-warning"  ng-click="isAuthenticating = !isAuthenticating">Sign In</button>
                <button type="button" class="btn btn-success"  ng-click="isRegistating =!isRegistating">Sign Up Free</button>
            </form>
            <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
        </div>
        <!-- Registration form start -->
        
        <div class="registration" ng-show="isRegistating">
            <h3 class="text-center">Sign In</h3>
            <form name="RegistrationForm" ng-submit="registrateUser(user)" novalidate>
                <div class="form-group">
                    <label for="email">Name:</label>
                    <input type="text" id="name" placeholder="Enter Your Name" class="form-control" ng-model="user.username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" placeholder="Email Address" class="form-control" ng-model="user.email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input name="userPassword" type="password" id="password" placeholder="Password" class="form-control" ng-model="user.password" required>
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password:</label>
                    <input type="password" id="password" placeholder="Confirm Password" class="form-control" ng-model="user.password2">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Registrate</button>
                </div>
            </form>
            
        </div>
        <!-- Registration form end -->

        <!-- Authentication form start -->
        <div class="authentication" init="isAuthenticating = false" ng-show="isAuthenticating">
            <h3 class="text-center">Sign In</h3>
            <form name="RegistrationForm" ng-submit="authenticateUser(userAuth)" novalidate>
                <div class="form-group">
                    <label for="email">Name:</label>
                    <input type="text" id="name" placeholder="Enter Your Name" class="form-control" ng-model="userAuth.username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input name="userPassword" type="password" id="password" placeholder="Password" class="form-control" ng-model="userAuth.password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Sign in</button>
                </div>
            </form>
            
        </div>
        <!-- Athentication form end -->
    </div> <!-- container -->
</div>

<aside>
  <div class="side-menu">
    <ul class="list-group list-unstyled icon-group">
       <li class="list-item"><a href="#categories"><img src="static/img/paste.png" alt=""></a></li> 
       <li class="list-item"><a href="#/"><img src="static/img/guestbook.png" alt=""></a></li> 
       <li class="list-item"><a href="#tags"><img src="static/img/pencil.png" alt=""></a></li> 
   </ul>
</div> 
</aside> 


<section id="main-content">

  <div class="row">

<div class="col-md-8 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-heading">
           <div class="row">
                <div class="col-md-6">
                    <h5 class="panel-title">{{hello}}</h5>
                </div>
                <div class="col-md-2">
                    <select name="select-tag" id="" class="form-control" ng-model="task.category">
                        <option value="value1">Home</option>
                        <option value="value2">Work</option>
                    </select>
                </div>
                 <div class="col-md-2">
                    <select name="select-tag" id="" class="form-control">
                        <option value="value1">Home</option>
                        <option value="value1">Work</option>
                    </select> 
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default">Upload File</button>
                    </select> 
                </div>
            </div>
        </div>
    <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor tempora est veniam exercitationem eveniet in ullam dolores doloremque, asperiores, beatae pariatur maiores eius, quod ipsam? Suscipit facilis accusantium magnam asperiores ipsum recusandae, temporibus. Sequi voluptatibus reiciendis tempora laudantium, fuga officiis non similique aut id laborum totam. Doloremque earum cupiditate quibusdam.
  </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
              <span class="label label-danger">#tags</span>
              <span class="label label-danger">{{task.category}}</span>
            </div>
        </div>
    </div>
</div>

</div>
    <div class="col-md-3">
        <ng-view></ng-view>
    </div>
    </div>

</section>





</body>


{% endverbatim %}
{% endblock %}

