{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="well">
            <form role="form" method="POST" action="{% url 'sign_up' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row">
                    <div class="col-xs-6">
                        <div>
                            <button type="submit" class="btn btn-primary width_100">Sign Up</button>
                        </div>
                    </div>
                    <div class="col-xs-6">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
